<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash of Clans Clan Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ clan['badge'] }}">
</head>
<!-- IDEA: ADD CLAN SUPERLATIVES (MOST ATTACKS, MOST GOLD LOOTED, ETC)-->
<body>
    <div class="panel nohover">
        <div class="panel-info">
            <div class="header">
                <div class="badge-wrapper">
                    <img class="badge-img" src="{{ clan['badge'] }}" alt="Clan Badge">
                </div>
                <div class="info">
                    <h1 class="title">{{ clan['name'] }}</h1>
                    <p class="subtitle">{{ clan['tag'] }}</p>
                    <p class="description">{{ clan['description'] }}</p>
                </div>
            </div>
            <div class="details">
                <p class="detail">Level: {{ clan['level'] }}</p>
                <p class="detail">Location: {{ clan['location'] }}</p>
                <p class="detail">Type: {{ clan['type'] }}</p>
                <p class="detail">Points: {{ clan['points'] }}</p>
                <p class="detail">Builder Base Points: {{ clan['builder_base_points'] }}</p>
                <p class="detail">Member Count: {{ clan['member_count'] }}</p>
            </div>
        </div>
        <div class="panel-footer">
            <a class="link header-footer-element" href="{{ clan['share_link'] }}" target="_blank">
                <img title="Open in Clash of Clans" src="{{ url_for('static', filename='images/shield.svg') }}" alt="Clan Profile" class="panel-footer-link"/>
            </a>
        </div>
    </div>
    {% for member in members %}
    <div class="panel">
        <div class="panel-info">
            <div class="header">
                {% if member['league'] is not none %}
                <div class="badge-wrapper">
                    <img class="league-badge" src="{{ member['league'] }}" alt="Member League">
                </div>
                {% endif %}
                <div class="info">
                    <h1 class="title">{{ member['name'] }}</h1>
                    <!-- MAKE THE TAG A CLICK TO COPY BUTTON-->
                    <p class="subtitle">{{ member['tag'] }}</p>
                    <p class="description">{{ member['role']}}</p>
                </div>
            </div>
            <div class="details">
                <p class="detail">Last seen {{ member['last_active'] }}</p>
                <p class="detail">First seen {{ member['joined'] }}</p>
            </div>
        </div>
        <div class="panel-footer">
            <a class="link header-footer-element" href="{{ member['share_link'] }}" target="_blank">
                <img title="Open in Clash of Clans" src="{{ url_for('static', filename='images/shield.svg') }}" alt="COC Profile" class="panel-footer-link"/>
            </a>
            <a class="link header-footer-element" href="{{ member['member_link'] }}" target="_blank">
                <img title="Open statistics profile" src="{{ url_for('static', filename='images/profile.svg') }}" alt="Member Profile" class="panel-footer-link"/>
            </a>
        </div>
    </div>
    {% endfor %}
</body>
</html>
